master-master/mysql-1/mysql-data/
master-master/mysql-2/mysql-data/
master-master/mysql-1/mysql-logbin/*
!master-master/mysql-1/mysql-logbin/.gitkeep
master-master/mysql-2/mysql-logbin/*
!master-master/mysql-2/mysql-logbin/.gitkeep